<html>

<head>
    <title>Vue Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .canvas {
            width: 300px;
            height: 300px;
            margin-top: 20px;
            background: #ddd;
        }
    </style>
</head>

<body>
    <h1>Vue basics</h1>
    <div id="app">
        <h2>{{ title }}</h2>
        <p>My name is {{ name }}</p>
        <button @click="logEvent">Log Event Info</button>
        <div class="canvas" @mousemove="logCoords">{{ coords.x }}, {{ coords.y }}</div>
        <br/>
        <input type="text" @keyup="updateName"/>
        <input type="text" @keypress="updateName" />
        <!-- v-model -->
        <input type="text" v-model="name" />
        <br/>
        <!-- Modifiers -->
        <button @click.alt="logMessage">Alt-Click me</button>
        <button @click.shift="logMessage">Shift-Click me</button>
        <a href="http://www.google.com" @click.prevent="logMessage">Google</a>
        <div>
            ------------------------------------------------------------------------------------------
        </div>
        <!-- Conditional output with v-if -->
        <p v-if="showName">Condition</p>
        <p v-else-if="showAge">25</p>
        <button @click="toggleName">ShowName: {{ showName }}</button>
        <button @click="toggleAge">ShowName: {{ showAge }}</button>
    </div>

    <script src="app.js"></script>
</body>

</html>